@tailwind base;
@tailwind components;
@tailwind utilities;

/* Scrollbar  */
.hide-scrollbar {
  overflow: -moz-scrollbars-none;
  -ms-overflow-style: none;
}

.hide-scrollbar::-webkit-scrollbar {
  width: 0 !important;
}
