@tailwind base;
@tailwind components;
@tailwind utilities;


.text-acm-blue {
    color: #0085B9;
}

.team-box {
    position: relative;
    width: 177px;
    height: 255px;

    background: #FFFFFF;
    box-shadow: 0px 4px 32px rgba(0, 0, 0, 0.25);
    border-radius: 8px;
}

.team-image {
    position: relative;
    width: 118.96px;
    height: 118.96px;

    background: black;
    background-blend-mode: normal;
}

.team-name {
    position: relative;
    width: 117px;
    height: 29px;

    font-style: normal;
    font-weight: bold;
    font-size: 24px;
    line-height: 29px;
    /* identical to box height */

    color: #000000;
}

.team-designation {
    position: relative;
    width: 85px;
    height: 18px;

    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 19px;

    color: #000000;
}

.events-box{
    position: relative;
    width: 426px;
    height: 233px;

    background: #FFFFFF;
    box-shadow: 0px 4px 32px rgba(0, 0, 0, 0.32);
    border-radius: 8px;
}

.events-name{
    position: relative;
    width: 197px;
    height: 38px;

    font-style: normal;
    font-weight: bold;
    font-size: 32px;
    line-height: 38px;

    color: #000000;
}

.events-description{
    position: relative;
    width: 345px;
    height: 88px;

    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 22px;

    color: #000000;
}

.events-logo{
    position: relative;
    width: 147px;
    height: 147px;

    background: #C4C4C4;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 8px;
}

.contact-shadow {
    box-shadow: 0px 5px 30px rgba(0, 0, 0, 0.32);
    border-radius: 5px;
}

.bg-acm-blue {
    background-color: #0085B9;
}

.reach-us {
    left: -6rem;
    border-radius: 5px;
}

.carousel{
    position: relative;
    width: 20px;
    height: 20px;

    background: #000000;
}

.blog-box{
    position: absolute;
    width: 426px;
    height: 233px;

    background: #FFFFFF;
    box-shadow: 0px 4px 32px rgba(0, 0, 0, 0.32);
    border-radius: 8px;
}

.blog-title{
    position: absolute;
    width: 171px;
    height: 38px;

    font-style: normal;
    font-weight: bold;
    font-size: 32px;
    line-height: 38px;

    color: #000000;
}

.blog-description{
    position: absolute;
    width: 345px;
    height: 88px;

    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 22px;

    color: #000000;
}

.blog-image{
    position: relative;
    left: 10.94%;
    right: 10.94%;
    top: 10.94%;
    bottom: 10.94%;

    background: #000000;
}