@tailwind base;
@tailwind components;
@tailwind utilities;

.text-acm-blue {
  color: #0085b9;
}

.bg-acm-blue {
  background-color: #0085b9;
}

.shadow-card {
  box-shadow: 0px 4px 32px rgba(0, 0, 0, 0.32);
}

.shift-up {
  top: -6rem;
}

.shift-left {
  left: -6rem;
}

.eventspage-img{
  float: left;
  margin-right: 0.625rem;
  display: flex;
}